.review-section {
  width: 50%;
}

.review-header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.review-header a {
  color: gray;
  text-decoration: underline;
}

.review-header-review-data {
  display: flex;
  align-items: center;
}

.review-content {
  display: flex;
  flex-wrap: wrap;
}
