.review-card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 2px;
  margin-top: 1rem;
  width: 100%;
}

.review-date {
  color: darkgray;
}

.review-title {
  display: flex;
  justify-content: space-between;
}

.review-title button {
  height: 25px;
}
