.all-spots {
  display: flex;

  flex-flow: row wrap;
  width: 100%;
  position: relative;
  /* justify-content: space-between; */
}

.spot-image {
  border: 0.1rem solid none;
  border-radius: 0.5rem;
  height: 100%;
  max-width: 100%;
}
.spot-image > img {
  height: 100%;
  width: 100%;

  max-height: 200px;
  min-height: 200px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.all-bottom-details > * {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 14px;
}
.all-bottom-details {
  padding: 0.35rem;
}

.top-line {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.location {
  width: 80%;
}

.address {
  color: gray;
}

.individual-spot:not(.top-line) {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid none;
  border-radius: 0.5rem;
  padding: 2px;
  margin: 0.25rem;
  width: 250px;
  height: 290px;
}

.price-amt-text {
  font-weight: 600;
  margin-right: 5px;
}
.price {
  display: flex;
}
