.spot-details {
  margin: 15px;
}

.single-spot-image > img {
  width: 80%;
  height: 700px;
}
.top-line-single {
  display: flex;
  flex-direction: column;
}

.top-subtitle {
  display: flex;
  justify-content: space-between;
}

.top-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-title > button {
  height: 100%;
}

.review-header {
  display: flex;
}
