.pricing-data {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.price-item {
  display: flex;
  justify-content: space-between;
  padding: 7px 0px;
  text-decoration: underline;
}

.seperate {
  box-sizing: border-box;
  padding: 5px 0px;
  border-bottom: 1px solid lightgray;
}

.price-total-container {
  box-sizing: border-box;
  padding-top: 15px;
}
