.profile-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 1100px;
  margin: 50px auto;
}

.profile-content {
  padding-left: 60px;
  width: 100%;
}

.profile-item {
  margin-bottom: 50px;
}
