.spot-card-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.spot-card-left {
  display: flex;
  height: 100px;
  box-sizing: border-box;
}

.spot-card-side > img {
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 8px;
}

.spot-card-content {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  line-height: 25px;
}

.spot-card-info {
  color: gray;
  display: flex;
}

.spot-card-sub-info {
  margin-left: 10px;
}

.booking-action-btns {
  display: flex;
  justify-content: space-around;
}

.booking-action-btns button {
  padding: 5px 5px;
  width: 60px;
  border: none;
  border-radius: 5px;
  margin: 0px 10px;
  height: auto;
}
